
.carousel .slide {
    background: #fff !important;
}

._title_carousel {
    color: darkgray; 
}

 ._carouselCard {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    ._row {
        ._imageCol {
            width: calc(100%);
            .card-img-top {
                width: 100%;
                height: 100%;
                transition :all .3s linear;
                background:transparent
                &:hover {
                    transition :all .5s ease;
                    transform: scale(1.1);
                }
            }
        }
        ._textCol {
            h3 {
                color: darkgray;
            }
            h5 {
                color: #f6830f;
            }
        }
    }
 }
