
.carousel .slide {
    background: #fff !important;
}
.car_img-container {
    overflow: hidden;
    position: relative;


 }
 .car_card-img-top {
     transition :all 1s linear;
 }

 .car_img-container:hover .card-img-top {
    transform: scale(1.2);
 }
 .car_cart-btn {
     position:absolute;
     bottom: 0;
     right: 0;
     padding: 0.2rem 0.4rem;
     /* background: var(--lightblue); */
     border: none;
     /* color: var(--mainWhite); */
     font-size: 1.4rem;
     border-radius:0.5rem 0 0 0;
     transform:translate(100%,100%);
     transition :all 1s linear;
 }
 .car_img-container:hover .cart-btn {
     transform:translate(0,0);
 }
 .car_cart-btn:hover {
     /* color: var(--mainBlue); */
     cursor: pointer;
 }