@import '../../../styles/root';

.carousel .slide {
    background: #fff !important;
}

._title_carousel {
    color: $base-color-1;
}

 ._carouselCard {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    ._row {
        ._imageCol {
            width: calc(100%);
            .card-img-top {
                width: 100%;
                height: 100%;
                transition :all .3s linear;
                background:transparent
            }
            &:hover {
                transition :all .5s ease;
                transform: scale(1.1);
            }
        }
        ._textCol {
            p {
                color:  $base-color-2;
                font-size: calc(16px + .3vw);
                font-weight: bold;
            }
            ._price_div {
                color:  $base-color-5;
                font-size: calc(16px + .3vw);
                font-weight: bold;
            }
        }
    }
 }
