@import '../../styles/_root.scss';

._wishlist-contain {
    margin: 120px auto;
    min-height: 60vh;
    box-sizing: border-box;
    .wishlist-card {
        border-radius: 8px;
        padding: 18px 6px;
    }
}