._wishlist-contain {
    margin: 120px auto;
    min-height: 60vh;
    box-sizing: border-box;
    .wishlist-card {
        border-radius: 8px;
        padding: 18px 6px;
        button {
            background-image: linear-gradient(to right, #525252 0%, #3d72b4  51%, #525252  100%);
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            text-decoration: none;
            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
            }
        }
    }
}
