$base-color-1: #0E2453;
$base-color-2: #2E6A9D;
$base-color-3: #2A81EA;
$base-color-4: #f47556;
$base-color-5: #ec542e;
$base-color-6: #EA2A4F;
$base-color-7: #ea1842;


$border-dark: rgba($base-color-1, 0.88);

$btn-color: #f47556;

$btn-color-2: #EA2A4F;

$btn-color-3: #2A81EA;