@import './root';

nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 4%;
    box-sizing: border-box;
    transition: .5s;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #485461;
    .responsive_navIcon {
        display: none;
        &:focus {
            outline: none;
        }
    }
    
    .nav_logo {
        display: flex;
        img {
            height: 80px;
            width: 80px;
            line-height: 80px;
            transition: .5s;
            background: none;
        }
        h4 {
            margin: auto;
            a {
                color: darkgray;
                padding: 5px 20px;
                text-decoration: none;
                font-weight: bold;
                font-size: calc(12px + 0.4vw);
            }
        }
    }

    .header_links_left {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            li {
                list-style: none;
                margin: 0 10px;
                i {
                    line-height: 60px;
                    color: darkgray;
                    transition: .5s;
                    font-size: calc(12px + 0.2vw);
                    &.active, &:hover {
                        transition: all .3s ease-in;
                        transform: scale(1.1);
                        color: #485461;
                    }
                }
                a {
                    line-height: 60px;
                    color: darkgray;
                    padding: 5px calc(8px + .5vw);
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: .8s;
                    font-weight: bold !important;
                    font-size: calc(12px + 0.2vw) !important;
                    &.active, &:hover {
                        color: $base-color-1;
                    }
                }
            }
        }
    }
    .header_links_right {
            margin: 0;
            padding: 0;
            display: flex;
            .search_navIcon {
                &:focus {
                    outline: none;
                }
            }
            .cartBadge_navIcon {
                &:focus {
                    outline: none;
                }
            }
            .button_nav {
                line-height: 60px;
                color: darkgray;
                text-decoration: none;
                text-transform: uppercase;
                transition: .5s;
                font-weight: bold;
                border: none;
                background: none;
                font-size: calc(12px + 0.2vw);
                &:focus {
                    outline: none;
                }
                &.active, &:hover {
                    transition: all .3s ease-in;
                    transform: scale(1.1);
                    color: #485461;
                }
            }
            .header-user-dropdown {
                margin: auto;
                color: #485461;
                #dropdown-basic {
                    border: none;
                    background: #FFFFFF;
                    color: #485461;
                }
            }
        
    }
}
.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0px 6%;
    background: $base-color-2; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .nav_logo {
        img {
            height: 60px;
            width: 60px;
            line-height: 60px;   
        }
        h4 {
            a {
                line-height: 45px;
                color: #FFFFFF;
                padding: 5px 20px;
            }
        }
    }
    .header_links {
        ul {
            li {
                a {
                    line-height: 50px;
                    color: darkgray;
                }
                .button_nav, i {
                    line-height: 50px;
                }
            }
        }

    }
    .header_links_left {
        ul {
            li {
                i {
                    color: darkgray;
                }
                a {
                    color: #FFFFFF;
                    &.active, &:hover {
                        color: $btn-color;
                    }
                }
            }
        }
    }
    .header_links_right {
        .cartBadge_navIcon {
            color: #FFFFFF;
            &:focus {
                outline: none;
            }
        }
        .header-user-dropdown {
            margin: auto;
            color: #485461;
            #dropdown-basic {
                border: none;
                background: $base-color-2;
                color: #ffffff;
            }
        }
    
}
}

@media screen and (max-width: 992px) {
    nav {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #485461;
        .responsive_navIcon {
            display: block;
            color: $btn-color;
        }
        .header_links_left {
            display: none;
        }
        .header_links_right {
            display: none;
        }
    }

    .mobileActive {
        padding: 10px 0;
        display: flex;
        border-bottom: 1px solid $border-dark;
        .header_links_left {
            background: $base-color-2;
            display: block;
            position: absolute;
            top: 80px;
            left: 0;
            animation: slide-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                .search_navIcon {
                    display: none;
                }
                li {
                    list-style: none;
                    margin: 0 10px;
                    a {
                        line-height: none;
                        width: 100%;
                        padding: 5px 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: .8s;
                        font-weight: bold;
                        font-size: calc(12px + 0.2vw);
                    }
                }
            }
        }

        .header_links_right {
                background: $base-color-2;
                position: absolute;
                top: 80px;
                right: 0;
                display: flex;
                flex-direction: column;
                padding: 10px;
                animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                .button_nav {
                    line-height: none;
                    color: darkgray;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: .5s;
                    font-weight: bold;
                    border: none;
                    background: none;
                    font-size: calc(12px + 0.2vw);
                    &:focus {
                        outline: none;
                    }
                    &.active, &:hover {
                        transition: all .3s ease-in;
                        transform: scale(1.1);
                        color: #485461;
                    }
                }
            
        }
    }
    .scrolling {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        padding: 0px 6%;
        .nav_logo {
            img {
                width: 50px;
            }
            h4 {
                a {
                    line-height: 45px;
                    padding: 5px 20px;
                }
            }
        }

            .header_links_left {
                top: 50px;
                left: 0;
            }
    
            .header_links_right {
                    top: 50px;
                    right: 0;
            }
        
    }
}

/**
 * animation slide-right
 */
  @keyframes slide-right {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes slide-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
  }