._purchased-contain {
    margin: 120px auto;
    min-height: 60vh;
    box-sizing: border-box;
    .puchased-card {
        box-sizing: border-box;
        ._header-div {
            // background: linear-gradient(176deg, rgba(249,249,249,1) 0%, rgba(174,175,177,1) 170%);
        }
    }
}
