@import '../../styles/_root.scss';

._purchased-contain {
    margin: 120px auto;
    min-height: 60vh;
    box-sizing: border-box;
    .puchased-card {
        box-sizing: border-box;
        .subTitle {
            color: $btn-color;
        }
        .card-title-purchased {
            color: $base-color-3;
        }
        .review-link-purchased {
            color: $base-color-3;

        }
    }
}
