input {
    height: 45px !important;
    background: #F3F3F4 !important;
    border-radius: 8px;
    &:focus {

        outline: none !important;
        box-shadow: none !important;
        border: 2px solid #b76fc0 !important;
        &::placeholder {
            opacity: 0.4 !important;
        }
    }
    &::placeholder {
        color: #737373 !important;
        padding-left: 5px;
    }

    &:hover {
        background: white !important;
    }
}